@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

nav {
				margin-top: 5vh;
				z-index: 1;
				.nav-brand {
								position: absolute;
								z-index: 1;
								color: black;
								font-size: 24pt; 
								font-family: 'Roboto Slab', serif;
								font-style: bold;
								margin-left: 12vw;
								float: left;
								text-decoration: none;
				}

				.nav-items {
								transition: 0.5s;
								float: right;
								display: inline-block;
								list-style: none;
								margin-top: -10vh;
								margin-right: 8vw;

								li {
												display: inline-block;
								}

								.nav-link {
												display: inline-block;
												font-family: 'Roboto', sans-serif;
												font-style: light;
												text-decoration: none;
												margin-right: 2vw;
												transition: 0.5s;
								}
								.nav-link:hover {
												transform: translateY(10px);
								}
				}
}

.control-menu {
				transition: 0.5s;
				transition-delay: 0.5s;
				z-index: 0;
				position: absolute;
				top: 0px;
				left: 0vw;
				height: 100vh;
				width: 100vw;
}

.toggle-switch {
				color: #181818;
				cursor: pointer;
				background-color: white;
				border: none;
				z-index: 1;
				width: 10vw;
				height: 2vw;
}
